# Tarea M31 - Bryan Alberto Coronado García

#### Verificación de directorio

In [242]:
import pandas as pd
import os

cwd = os.getcwd()
os.chdir('/Users/bryancoronado/Downloads')
cwd

'/Users/bryancoronado/Downloads'

#### Visualización de una muestra de 20 lineas

In [244]:
df = pd.read_csv('fifa_eda.csv')

df.sample(20)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
3932,221174,M. Oršić,25,Croatia,72,74,Dinamo Zagreb,3800.0,1.0,Right,2.0,3.0,LM,2018,2022-01-01,5.833333,152.0,8600.0
17642,243603,L. Ranger,19,Norway,53,67,Lillestrøm SK,110.0,1.0,Right,1.0,2.0,RB,2018,2019-01-01,5.750000,143.0,206.0
6323,190648,S. Sirigu,29,Germany,69,69,SV Darmstadt 98,800.0,9.0,Right,1.0,3.0,RB,2013,2019-01-01,6.000000,174.0,1300.0
16274,242688,G. Carvajal,18,Colombia,57,77,América de Cali,190.0,1.0,Right,1.0,2.0,CDM,2018,2021-01-01,5.916667,159.0,447.0
15073,244906,A. Tiritiello,23,Italy,60,69,Cosenza,280.0,1.0,Right,1.0,2.0,CB,2018,2021-01-01,6.166667,176.0,490.0
7178,190602,R. Brosco,27,Italy,68,68,Ascoli,750.0,2.0,Right,1.0,2.0,RCB,2018,2021-01-01,6.250000,203.0,1200.0
3713,201122,T. Kalas,25,Czech Republic,72,76,Bristol City,3400.0,26.0,Right,1.0,2.0,LCB,2010,2021-01-01,6.000000,176.0,6700.0
15126,240577,K. Khosonov,20,Russia,60,72,PFC CSKA Moscow,375.0,1.0,Right,1.0,2.0,CM,2015,2019-01-01,6.083333,168.0,900.0
8840,220944,J. Wildsmith,22,England,66,76,Sheffield Wednesday,800.0,5.0,Right,1.0,1.0,GK,2013,2022-01-01,6.000000,143.0,1700.0
10390,243571,B. Diaby,20,Spain,65,75,Sporting Lokeren,775.0,3.0,Right,1.0,2.0,CB,2018,2021-01-01,6.166667,194.0,1300.0
10226,188230,G. Treand,32,France,65,65,Neuchâtel Xamax,425.0,2.0,Right,1.0,2.0,LM,2017,2021-01-01,5.833333,163.0,616.0
2548,231138,C. Bassogog,22,Cameroon,74,81,Henan Jianye FC,8000.0,13.0,Left,1.0,4.0,RS,2017,2020-01-01,5.750000,165.0,18800.0
1651,224808,G. Ferrari,26,Italy,75,79,Sassuolo,7000.0,40.0,Left,1.0,2.0,LCB,2016,2021-01-01,6.166667,181.0,12400.0
14387,149662,A. Bennett,36,Republic of Ireland,61,61,Cork City,30.0,1.0,Right,1.0,2.0,RCB,2015,2019-01-01,6.166667,187.0,47.0
9394,202123,C. Aneke,24,England,66,71,Milton Keynes Dons,875.0,5.0,Right,1.0,3.0,ST,2016,2019-01-01,6.250000,183.0,1600.0
11741,168630,M. Dabo,31,France,64,64,Stade Malherbe Caen,300.0,5.0,Right,1.0,2.0,LB,2016,2019-01-01,5.750000,143.0,600.0
17681,232633,M. Hayashi,21,Japan,53,64,Gamba Osaka,80.0,1.0,Right,1.0,1.0,GK,2015,2021-01-01,5.916667,165.0,116.0
12027,230391,Perceval Acunha,30,Brazil,64,64,América FC (Minas Gerais),325.0,3.0,Right,1.0,2.0,CB,2018,2021-01-01,6.250000,181.0,618.0
99,179846,S. Khedira,31,Germany,85,85,Juventus,33000.0,160.0,Right,3.0,2.0,RCM,2015,2021-01-01,6.166667,198.0,54500.0
4840,156437,P. Pentke,33,Germany,70,70,SSV Jahn Regensburg,900.0,5.0,Right,1.0,1.0,GK,2015,2019-01-01,6.250000,187.0,1400.0

#### Generar la media, mínimo y máximo de los jugadores en total, y por país (groupby)

In [246]:
df.groupby(['Nationality']).describe()

                ID                                                    \
             count           mean           std       min        25%
Nationality
Afghanistan    4.0  234743.500000   8482.473794  223989.0  230843.25
Albania       40.0  221682.450000  22034.999860  170612.0  203550.25
Algeria       60.0  206355.716667  30335.351770   49659.0  188810.00
Andorra        1.0  192937.000000           NaN  192937.0  192937.00
Angola        15.0  206676.000000  25453.222333  144037.0  199291.00
...            ...            ...           ...       ...        ...
Uzbekistan     2.0  189585.000000  11330.679062  181573.0  185579.00
Venezuela     67.0  224879.641791  22832.363812  162123.0  209170.00
Wales        129.0  201690.651163  40650.977964     657.0  186127.00
Zambia         9.0  236750.555556  17538.889874  190276.0  241202.00
Zimbabwe      13.0  211857.769231  17399.049295  189171.0  196064.00

                                              Age             ... Weight  \
                  50%        75%       max  count       mean  ...    75%
Nationality                                                   ...
Afghanistan  235405.0  239305.25  244175.0    4.0  22.500000  ...  152.0
Albania      230471.5  241738.25  245792.0   40.0  24.025000  ...  172.0
Algeria      207090.5  226455.50  245565.0   60.0  27.050000  ...  179.0
Andorra      192937.0  192937.00  192937.0    1.0  28.000000  ...  174.0
Angola       208364.0  219324.50  242188.0   15.0  25.866667  ...  177.5
...               ...        ...       ...    ...        ...  ...    ...
Uzbekistan   189585.0  193591.00  197597.0    2.0  29.500000  ...  164.5
Venezuela    234063.0  242287.50  246388.0   67.0  24.313433  ...  174.0
Wales        209333.0  229123.00  246227.0  129.0  24.736434  ...  174.0
Zambia       242340.0  243231.00  246144.0    9.0  22.222222  ...  165.0
Zimbabwe     211292.0  222994.00  239438.0   13.0  26.846154  ...  174.0

                   Release Clause                                             \
               max          count         mean           std    min      25%
Nationality
Afghanistan  152.0            4.0   617.250000    214.798161  374.0   494.00
Albania      196.0           40.0  3694.029560   7023.881858  116.0   778.75
Algeria      207.0           60.0  8490.020720  14973.060392  259.0  1175.00
Andorra      174.0            1.0   384.000000           NaN  384.0   384.00
Angola       192.0           15.0  3623.741441   4394.501668  463.0  1078.00
...            ...            ...          ...           ...    ...      ...
Uzbekistan   165.0            2.0  6725.000000   9157.032816  250.0  3487.50
Venezuela    216.0           67.0  4203.207643   5212.560917  108.0  1250.00
Wales        207.0          129.0  3714.370469  12080.501678   53.0   483.00
Zambia       201.0            9.0  2174.000000   1859.514453  356.0  1200.00
Zimbabwe     185.0           13.0  5319.384615   5703.978985  594.0  1300.00


                50%          75%       max
Nationality
Afghanistan   608.5   731.750000     878.0
Albania      1550.0  3650.000000   35500.0
Algeria      2750.0  7500.000000   78000.0
Andorra       384.0   384.000000     384.0
Angola       2100.0  4585.060806   17800.0
...             ...          ...       ...
Uzbekistan   6725.0  9962.500000   13200.0
Venezuela    2500.0  4585.060806   35400.0
Wales        1000.0  3000.000000  123000.0
Zambia       1700.0  2500.000000    6600.0
Zimbabwe     3700.0  6500.000000   18900.0

[164 rows x 96 columns]

#### Generar 2 jugadores ficticios con todos los campos del dataset y añadirlos al mismo.  Visualizarlos con .tail().  Correr nuevamente las estadísticas y compararlas.

In [248]:
# Generación de dos jugadores nuevos

data = pd.DataFrame([
        {'ID' : 666666,
         'Name' : 'Bryan Coronado',
         'Age' : 28,
         'Nationality' : 'Mexico',
         'Overall' : 98,
         'Potential' : 99,
         'Club' : 'America',
         'Value' : 200000,
         'Wage' : 892,
         'Preferred Foot' : 'Right',
         'International Reputation' : 6,
         'Skill Moves' : 5,
         'Position' : 'ST',
         'Joined' : 2012,
         'Contract Valid Until' : '2025-04-23',
         'Height' : 5.2,
         'Weight' : 167,
         'Release Clause' : 265000},
        {'ID' : 777777,
         'Name' : 'Ryan Gomez',
         'Age' : 32,
         'Nationality' : 'Brazil',
         'Overall' : 87,
         'Potential' : 24,
         'Club' : 'Chivas',
         'Value' : 120000,
         'Wage' : 231,
         'Preferred Foot' : 'Left',
         'International Reputation': 3,
         'Skill Moves' : 2, 
         'Position' : 'FR',
         'Joined' : 2018,
         'Contract Valid Until' : '2018-09-13',
         'Height' : 6.2,
         'Weight' : 189,
         'Release Clause' : 120000}
])

data

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,666666,Bryan Coronado,28,Mexico,98,99,America,200000,892,Right,6,5,ST,2012,2025-04-23,5.2,167,265000
1,777777,Ryan Gomez,32,Brazil,87,24,Chivas,120000,231,Left,3,2,FR,2018,2018-09-13,6.2,189,120000

In [249]:
# Agregación de los dos jugadores nuevos al nuevo DataFrame creado.

df2 = pd.concat([df, data], ignore_index=True).reset_index()
df2.tail(5)

,index,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
18204,18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0
18205,18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0
18206,18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0
18207,18207,666666,Bryan Coronado,28,Mexico,98,99,America,200000.0,892.0,Right,6.0,5.0,ST,2012,2025-04-23,5.200000,167.0,265000.0
18208,18208,777777,Ryan Gomez,32,Brazil,87,24,Chivas,120000.0,231.0,Left,3.0,2.0,FR,2018,2018-09-13,6.200000,189.0,120000.0

In [250]:
df2.groupby(['Nationality']).describe()

             index                                                         \
             count          mean          std      min       25%      50%
Nationality
Afghanistan    4.0  14335.500000  1275.416403  12891.0  13455.75  14458.5
Albania       40.0   9259.100000  4828.582952    338.0   5814.50   8237.5
Algeria       60.0   5602.183333  4019.048557     84.0   2569.25   4907.0
Andorra        1.0  13651.000000          NaN  13651.0  13651.00  13651.0
Angola        15.0   7979.333333  4572.428937    773.0   3998.00   7919.0
...            ...           ...          ...      ...       ...      ...
Uzbekistan     2.0   8455.000000  9536.042051   1712.0   5083.50   8455.0
Venezuela     67.0   8122.940299  4854.369400    345.0   3900.00   7541.0
Wales        129.0  10708.286822  4922.837500     36.0   7029.00  11058.0
Zambia         9.0   9889.000000  3976.974070   2757.0   8305.00   9541.0
Zimbabwe      13.0   6107.846154  3848.571290    764.0   3496.00   5458.0

                                   ID                 ... Weight         \
                  75%      max  count           mean  ...    75%    max
Nationality                                           ...
Afghanistan  15338.25  15534.0    4.0  234743.500000  ...  152.0  152.0
Albania      13110.25  17814.0   40.0  221682.450000  ...  172.0  196.0
Algeria       7362.00  16001.0   60.0  206355.716667  ...  179.0  207.0
Andorra      13651.00  13651.0    1.0  192937.000000  ...  174.0  174.0
Angola       11402.00  15061.0   15.0  206676.000000  ...  177.5  192.0
...               ...      ...    ...            ...  ...    ...    ...
Uzbekistan   11826.50  15198.0    2.0  189585.000000  ...  164.5  165.0
Venezuela    11866.00  17550.0   67.0  224879.641791  ...  174.0  216.0
Wales        14996.00  18188.0  129.0  201690.651163  ...  174.0  207.0
Zambia       11624.00  16910.0    9.0  236750.555556  ...  165.0  201.0
Zimbabwe     10260.00  11684.0   13.0  211857.769231  ...  174.0  185.0

            Release Clause                                                     \
                     count         mean           std    min      25%     50%
Nationality
Afghanistan            4.0   617.250000    214.798161  374.0   494.00   608.5
Albania               40.0  3694.029560   7023.881858  116.0   778.75  1550.0
Algeria               60.0  8490.020720  14973.060392  259.0  1175.00  2750.0
Andorra                1.0   384.000000           NaN  384.0   384.00   384.0
Angola                15.0  3623.741441   4394.501668  463.0  1078.00  2100.0
...                    ...          ...           ...    ...      ...     ...
Uzbekistan             2.0  6725.000000   9157.032816  250.0  3487.50  6725.0
Venezuela             67.0  4203.207643   5212.560917  108.0  1250.00  2500.0
Wales                129.0  3714.370469  12080.501678   53.0   483.00  1000.0
Zambia                 9.0  2174.000000   1859.514453  356.0  1200.00  1700.0
Zimbabwe              13.0  5319.384615   5703.978985  594.0  1300.00  3700.0


                     75%       max
Nationality
Afghanistan   731.750000     878.0
Albania      3650.000000   35500.0
Algeria      7500.000000   78000.0
Andorra       384.000000     384.0
Angola       4585.060806   17800.0
...                  ...       ...
Uzbekistan   9962.500000   13200.0
Venezuela    4585.060806   35400.0
Wales        3000.000000  123000.0
Zambia       2500.000000    6600.0
Zimbabwe     6500.000000   18900.0

[164 rows x 104 columns]

#### Generar una lambda que añada la zona horaria y la capital del país de nacionalidad (**NOTA**)

In [262]:
""" Aclaración:

Este punto no pudo ser resuelto por causas externas relacionadas a la database, podrá notar que al ejectuvar la lambda para agregar
la zona horaria y la capital de cada país, indica un 'key error' en el marca que existen datos en mayúsuculas y minúsculas en los paises,
especificamente 'ARGENTINA' y 'england', se intentó verificar cuales eran los datos erroneos sin embargo no se identificó ninguno,
como paso adicional apliqué una lambda para estandarizar en el dataframe todos los nombres de paises a titulos, continuando con el 
mismo error, anexo la lambda '.title' aplicada, así como la verificación de los datos incorrectos inexistentes. Al ejecutar las lambdas de
zonas horarias y capitales notará el supuesto key error, sin embargo podrá verificar que toda la sintaxis esta ejecutada correctamente, 
motivo por el cual hago entrega de la tarea de esta forma """

" Aclaración:\n\nEste punto no pudo ser resuelto por causas externas relacionadas a la database, podrá notar que al ejectuvar la lambda para agregar\nla zona horaria y la capital de cada país, indica un 'key error' en el marca que existen datos en mayúsuculas y minúsculas en los paises,\nespecificamente 'ARGENTINA' y 'england', se intentó verificar cuales eran los datos erroneos sin embargo no se identificó ninguno,\ncomo paso adicional apliqué una lambda para estandarizar en el dataframe todos los nombres de paises a titulos, continuando con el \nmismo error, anexo la lambda '.title' aplicada, así como la verificación de los datos incorrectos inexistentes. Al ejecutar las lambdas de\nzonas horarias y capitales notará el supuesto key error, sin embargo podrá verificar que toda la sintaxis esta ejecutada correctamente, \nmotivo por el cual hago entrega de la tarea de esta forma "

In [253]:
df.loc[df['Nationality'] == 'ARGENTINA']

Empty DataFrame
Columns: [ID, Name, Age, Nationality, Overall, Potential, Club, Value, Wage, Preferred Foot, International Reputation, Skill Moves, Position, Joined, Contract Valid Until, Height, Weight, Release Clause]
Index: []

In [254]:
df.loc[df['Nationality'] == 'england']

Empty DataFrame
Columns: [ID, Name, Age, Nationality, Overall, Potential, Club, Value, Wage, Preferred Foot, International Reputation, Skill Moves, Position, Joined, Contract Valid Until, Height, Weight, Release Clause]
Index: []

In [255]:
df['Nationality'] = df['Nationality'].apply(lambda x: x.title())
df.sample(10)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
11571,234382,N. Landgraf,22,Germany,64,72,Hallescher FC,575.0,1.0,Left,1.0,2.0,LCB,2017,2021-01-01,5.916667,150.0,949.0
3612,225151,A. Traoré,23,Mali,72,77,AS Monaco,4100.0,35.0,Left,1.0,3.0,CM,2015,2020-01-01,5.916667,159.0,8100.0
2992,204447,F. Lucioni,30,Italy,73,73,Lecce,3000.0,4.0,Right,1.0,2.0,RCB,2018,2021-01-01,6.083333,176.0,4600.0
5696,213007,A. Aseri,24,Saudi Arabia,69,75,Al Ahli,1400.0,15.0,Left,1.0,3.0,CAM,2016,2020-01-01,5.500000,141.0,2700.0
7197,224143,Querol,29,Spain,68,68,CF Reus Deportiu,875.0,4.0,Right,1.0,3.0,RM,2016,2019-01-01,6.000000,165.0,1400.0
7687,233226,T. Nara,24,Japan,67,72,Kawasaki Frontale,875.0,3.0,Right,1.0,2.0,RCB,2016,2019-01-01,5.916667,170.0,1200.0
1773,189280,A. Westwood,28,England,75,75,Burnley,6500.0,48.0,Right,1.0,3.0,CM,2017,2020-01-01,5.750000,161.0,12400.0
5297,188313,Diogo Viana,28,Portugal,70,70,Os Belenenses,1400.0,4.0,Right,1.0,4.0,RB,2017,2019-01-01,5.750000,148.0,2900.0
16728,244775,R. Caicedo,24,Colombia,56,62,Boyacá Chicó FC,90.0,1.0,Right,1.0,1.0,GK,2018,2021-01-01,6.166667,183.0,140.0
9310,197241,K. Pannewitz,26,Germany,66,67,FC Carl Zeiss Jena,750.0,1.0,Right,1.0,3.0,LDM,2017,2020-01-01,6.083333,179.0,1100.0

In [256]:
import pytz

df['Zona Horaria'] = df['Nationality'].apply(lambda x: pytz.country_timezones[x])

KeyError: 'ARGENTINA'

In [260]:
from countryinfo import CountryInfo

df['Capitales'] = df['Nationality'].apply(lambda x: CountryInfo(x).capital())

KeyError: 'england'

#### Generar una lambda que en base al potencial, añada una columna “Candidato” o “Next Year”, para el premio para el balón de oro.  Jugadores con más de 85, son candidatos.

In [257]:
df['Candidato'] = df['Overall'].apply(lambda x: 'Candidato' if x > 85 else 'No Participa')
df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,Candidato
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0,Candidato
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0,Candidato
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0,Candidato
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0,Candidato
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0,Candidato
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,J. Lundstram,19,England,47,65,Crewe Alexandra,60.0,1.0,Right,1.0,2.0,CM,2017,2019-01-01,5.750000,134.0,143.0,No Participa
18203,243165,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,60.0,1.0,Right,1.0,2.0,ST,2018,2020-01-01,6.250000,170.0,113.0,No Participa
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0,No Participa
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0,No Participa
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0,No Participa